@mixin efecto-neon-hover ($color: #00ffff) {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.02);
        box-shadow:
            0 0 10px $color,
            0 0 20px $color,
            0 0 30px $color;
    }
}
@mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: 480px) { @content; }
    }
    @else if $breakpoint == tablet {
        @media (max-width: 1024px) { @content; }
    }
}