@use "variables" as *;
@use "mixins" as *;

.Portfolio {
    max-width: 900px;
    margin: 5px auto;
    padding: 40px 20px;
    background-color: $color-portfolio-bg;
    border-radius: 10px;
    box-shadow: $box-shadow-main;
}

.portfolio-h2 {
    text-decoration: none;
    top: 3rem;
    font-family: $font-main;
}

.galeria-lenguajes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;

}

.galeria-lenguajes img {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;

}

.galeria-lenguajes img:hover {
    transform: scale(1.1);
}

.logo-lenguaje {
    height: 80px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    display: block;
    
}

.portfolio-grid {
    padding: 40px 20px;
    text-align: center;
}

.portfolio-grid h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #c9c9c9;
    font-family: $font-main;
    animation: fadeInDown 1s ease-out;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.grid-item {
    background: linear-gradient($color-grid-item-bg-gradient-start, $color-grid-item-bg-gradient-mid, $color-grid-item-bg-gradient-end);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.03);
                @include efecto-neon-hover(#00ffff);
}

.grid-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.grid-item h3 {
    font-size: 1.2rem;
    margin: 15px 0 5px;
    color: $color-grid-item-text;
    font-family: $font-main;
}

.grid-item p {
    padding: 0 15px 20px;
    font-size: 0.95rem;
    color: $color-grid-item-text-p;
    font-family: $font-main;
}