$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-mono: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", 'Montserrat', sans-serif, monospace;
$color-white: #ffffff;
$color-faint-white: #fffafa;
$color-background-overlay: rgba(0, 0, 0, 0.6);
$color-form-border: #858282;
$color-form-border-dark: #06202b;
$color-form-bg-button: #2c5364;
$color-form-bg-button-hover: #203a43;
$color-footer-text: #ccc;
$color-portfolio-bg: #828282;
$color-grid-item-bg-gradient-start: #313131;
$color-grid-item-bg-gradient-mid: #757575;
$color-grid-item-bg-gradient-end: #d1d1d1;
$color-grid-item-text: #222;
$color-grid-item-text-p: #555;
$color-servicios-text: #b3b3b3;
$color-servicios-title: #f7f3f3;
$box-shadow-main: 4px 4px 10px rgba(29, 26, 23, 0.26);
$box-shadow-form: 0 8px 15px rgba(0, 0, 0, 0.1);
$link-color: #ffffff;
$gap: 20px;
$border-color: #858282;